// ---------------------------------------------------------------------------
// This file contains styles that are specific to the "Home" page.
// ---------------------------------------------------------------------------

#home {
  background-color: $color-background-dark;

  @include breakpoint($phone-breakpoint) {
    min-height: $content-height;
  }

  #greeting {
    @extend %absolute-center;
    width: 75vw;
    max-width: 450px;
    text-align: center;

    #name {
      display: block;
      @include display-text(min(max(80px, 18vw), 144px), min(max(100px, 22vw), 180px));
      transform: rotate(-5deg);
      transform-origin: top right;
    }

    span:not(#name) {
      color: $color-on-background-dark;
    }
  }
}
